{% if printers %}
	<ul>
	{% for favourite in printers %}
		<li><a href="?server={{ favourite.printer.server }}&name={{ favourite.printer.name }}" class="printer">
		<img src="/media/imgs/printer.png" />
		{{ favourite.printer.server_name }} {{ favourite.printer }}
		<small>({{ favourite.printer.location }})</small></a>
		<a href="{% url django_cups.views.delFavourite favourite.printer.id %}" class="printerdelfromfav">Remove</a>
		</li>
	{% endfor %}
	</ul>
{% else %}
	No printers found
{% endif %}
